body {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -moz-transform-origin: 0 80%;
         transform-origin: 0 80%;
    -moz-transform: rotate(45deg);
         transform: rotate(45deg);
}